<html>
<head>
  <title>Flatiron Name Game</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="all">
</head>
  <body>
    <div class = "wrapper">
      <div class = "left">
        <div class = "student">
          <img>
          <h2> Welcome to the Name Game</h2>
          <a href="students/<%= Student.all.sample.url %>"><p>Click here to start</p></a>
        </div>
      </div>
    </div>
  </body>
</html>