<html>
<head>
  <title>Flatiron Name Game</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="all">
</head>
  <body>
    <div class = "wrapper">
      <div class = "left">
        <div class = "student">
          <img>
          <h2> "Theo" </h2>
        </div>
      </div>
      <div class = "right">
                <div class = "student">
          <img>
          <h2> "Manley</h2>
        </div>
      </div>

      </div>
    </div>
  </body>
</html>